<div id="<%= dom_id @tweets %>" class="tweet">
  <div class="container-sm">
    <div class="tweet-header">
      <strong><%= link_to tweet.user.display_name, user_path(tweet.user) %></strong>
      <br>
      <%= link_to "@#{tweet.user.username}", user_path(tweet.user) %>
    </div>
    <div class="tweet-body">
      <%= tweet.tweet_body %>
    </div>
    <% if tweet.reply_at_tweet_id.present? %>
      <div class="tweet-footer">
        <strong>Reply at tweet:</strong>
        <%= link_to "View Original Tweet", tweet_path(tweet.reply_at_tweet_id) %>
      </div>
    <% end %>
  </div>
</div>