<h1><%= @user.display_name %></h1>
<p><strong>Username:</strong> <%= @user.username %></p>
<p><strong>Bio:</strong> <%= @user.bio %></p>
<p><strong>Location:</strong> <%= @user.location %></p>
<p><strong>Date Joined:</strong> <%= @user.created_at.strftime("%B %d, %Y") %></p>

<h2>Tweets</h2>
<div id="tweets">
  <%= render partial: 'tweets', collection: @tweets %>
</div>
<%= will_paginate @tweets %>
